
### 파이썬 클래스는 타입을 만들어내는 도구입니다. int, float, str과 같이 여러분의 새로운 타입을 만들 수 있습니다.

#### 251 클래스, 객체, 인스턴스
클래스, 객체, 인스턴스에 대해 설명해봅시다.

#### 252 클래스 정의
비어있는 사람 (Human) 클래스를 "정의" 해보세요.

In [1]:
class Human:
    pass

#### 253 인스턴스 생성
사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.

In [2]:
class Human:
    pass

areum = Human()

#### 254 클래스 생성자-1
사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

In [5]:
class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

#### 255 클래스 생성자-2
사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

In [13]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("이름", 25, "여자")

#### 256 인스턴스 속성에 접근
255에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 인스턴스 변수에 접근하여 값을 출력하면 됩니다.

In [14]:
# class Human:
#     def __init__(self, name, age, sex):
#         self.name = name
#         self.age = age
#         self.sex = sex

# areum = Human("이름", 25, "여자")
print(areum.name)
print(areum.age)
print(areum.sex)

이름
25
여자

#### 257 클래스 메소드 - 1
사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.

In [23]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print(self.name)
        print(self.age)
        print(self.sex)

areum = Human("이름", 25, "여자")
areum.who()

이름
25
여자

#### 258 클래스 메소드 - 2
사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

In [26]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def setInfo(self, x,y,z):
        print(self.name)
        print(self.age)
        print(self.sex)

areum = Human("모름", 0, "모름")
areum.setInfo("아름", 25, "여자")

모름
0
모름

#### 259 클래스 소멸자
사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

In [1]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def setInfo(self, x,y,z):
        print(self.name)
        print(self.age)
        print(self.sex)
        
    def __del__(self):
        del self.name 
        del self.age
        del self.sex
        print('나의 죽음을 알리지 말라')
        
areum = Human("아름", 25, "여자")
del areum

나의 죽음을 알리지 말라

#### 260 에러의 원인
아래와 같은 에러가 발생한 원인에 대해 설명하세요.

> class OMG : 
>>     def print() :
>>         print("Oh my god")

> myStock = OMG()
> myStock.print()
> TypeError Traceback (most recent call last)
> <ipython-input-233-c85c04535b22> in <module>()
>> ----> myStock.print()

> TypeError: print() takes 0 positional arguments but 1 was given

In [2]:
class OMG :
    def __init__(self) :
        pass
        
    def print(self) :
        print("Oh my god")


mystock = OMG()
mystock.print()      # OMG.print(mystock)

Oh my god

#### 261 Stock 클래스 생성
주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.

In [3]:
class Stock:
    pass

#### 262 생성자
Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요
- 삼성 = Stock("삼성전자", "005930").

In [4]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

#### 263 메서드
객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.
- a = Stock(None, None)
- a.set_name("삼성전자")

In [5]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")  # Stock.set_name(a, "삼성전자")
print(a.name)

삼성전자

#### 264 메서드
객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.
- a = Stock(None, None)
- a.set_code("005930")

In [6]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

#### 265 메서드
종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.

- 삼성 = Stock("삼성전자", "005930")

In [7]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

#### 266 객체의 속성값 업데이트
생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. PER, PBR, 배당수익률은 float 타입입니다.

In [8]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

#### 267 객체 생성
266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.


- 항목 |정보
- 종목명 | 삼성전자
- 종목코드 | 005930
- PER	| 15.79
- PBR	| 1.33
- 배당수익률 |	2.83

In [9]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

2.83

#### 218. 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

#### 219. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

#### 220. 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

#### 221. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

> print_reverse("python")

> nohtyp

#### 222. 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

> print_score ([1, 2, 3])

> 2.0

#### 223. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

> print_even ([1, 3, 2, 10, 12, 11, 15])

> 2

> 10

> 12

#### 224. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

> print_keys ({"이름":"김말똥", "나이":30, "성별":0})

> 이름

> 나이

> 성별

#### 225. my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

> my_dict = {"10/26" : [100, 130, 100, 100], "10/27" : [10, 12, 10, 11]}

#### my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

> print_value_by_key  (my_dict, "10/26")

> [100, 130, 100, 100]

#### 226. 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

> print_5xn("아이엠어보이유알어걸")

> 아이엠어보

> 이유알어걸

#### 227. 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

> printmxn("아이엠어보이유알어걸", 3)

> 아이엠

> 어보이

> 유알어

> 걸

#### 228. 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

> calc_monthly_salary(12000000)

> 1000000

#### 229. 아래 코드의 실행 결과를 예측하라.

> def my_print (a, b) :
>>     print("왼쪽:", a)
>>     print("오른쪽:", b)

> my_print(a=100, b=200)

#### 230. 아래 코드의 실행 결과를 예측하라.

> def my_print (a, b) :
>>     print("왼쪽:", a)
>>     print("오른쪽:", b)

> my_print(b=100, a=200)

#### 231. 아래 코드를 실행한 결과를 예상하라.

> def n_plus_1 (n) :
>>     result = n + 1

> n_plus_1(3)

> print (result)

#### 232. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

> make_url("naver")

> www.naver.com

#### 233. 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

> make_list("abcd")

> ['a', 'b', 'c', 'd']

#### 234. 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

> pickup_even([3, 4, 5, 6, 7, 8])

> [4, 6, 8]

#### 235. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

> convert_int("1,234,567")

> 1234567

#### 236. 아래 코드의 실행 결과를 예측하라.

> def 함수(num) :
>>     return num + 4

> a = 함수(10)

> b = 함수(a)

> c = 함수(b)

> print(c)

#### 237. 아래 코드의 실행 결과를 예측하라.

> def 함수(num) :
>>     return num + 4

> c = 함수(함수(함수(10)))

> print(c)

#### 238. 아래 코드의 실행 결과를 예측하라.

> def 함수1(num) :
>>     return num + 4

> def 함수2(num) :
>>     return num * 10

> a = 함수1(10)

> c = 함수2(a)

> print(c)

#### 239. 아래 코드의 실행 결과를 예측하라.

> def 함수1(num) :
>>     return num + 4

> def 함수2(num) :
>>     num = num + 2
>>     return 함수1(num)

> c = 함수2(10)

> print(c)

#### 240. 아래 코드의 실행 결과를 예측하라.

> def 함수0(num) :
>>     return num * 2

> def 함수1(num) :
>>     return 함수0(num + 2)

> def 함수2(num) :
>>     num = num + 10
>>     return 함수1(num)

> c = 함수2(2)

> print(c)